

body {
    background-color: rgb(26, 1, 33);
    color: cornsilk;
}

header {
    background: linear-gradient(to bottom, rgb(101, 1, 129), rgb(72, 1, 92), rgb(56, 0, 68));
    color: cornsilk;
    display: block;
    text-align: left;
    padding: 1%;
}


main {

    color: cornsilk;
    display: block;
    text-align: left;
    padding: 1%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(220, 230, 31);
}

h2 {
    margin:0%;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 127, 70);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 127, 70);
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: rgb(44, 1, 56);
    color: rgb(220, 230, 31);
    display: block;
    text-align: center;
}

div {
    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 96%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}