

body {
    background-color: rgb(26, 1, 33);
    color: var(--branco-para-o-texto-basico)
}

header {
    background: linear-gradient(to bottom, rgb(101, 1, 129), rgb(72, 1, 92), rgb(56, 0, 68));
    color: var(--branco-para-o-texto-basico);
    display: block;
    text-align: left;
    padding: 1%;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(220, 230, 31);
}

h2 {
    margin:0%;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--laranja-texto)
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--laranja-texto)
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    background: linear-gradient(to bottom, rgb(101, 1, 129), rgb(72, 1, 92), rgb(56, 0, 68));
    color: rgb(220, 230, 31);
    display: block;
    text-align: center;
    border-radius: 20px;
    width: 90%;
    padding: 5%;
}

div {
    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

main {

    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;
    border-radius: 20px;
}
 /*nav {

    size: 24px;
      




 }*/

 :root{

      --branco-para-o-texto-basico: cornsilk;
      --laranja-texto:rgb(240, 127, 70);
      --amarelo-brilhante:
 }

 img{

    width: 200px;




 }