

body {
    background-color: rgb(26, 1, 33);
    color: var(--branco-para-o-texto-basico)
}

header {
    background: linear-gradient(to bottom, rgb(101, 1, 129), rgb(72, 1, 92), rgb(56, 0, 68));
    color: white;
    padding: 20px;
    top: 0;      /* GRUDA NO TOPO */
    left: 0;     /* GRUDA NA ESQUERDA */
    width: 100%; /* OCUPA A LARGURA TODA */
}




h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: cornflowerblue
    
}

h2 {
    margin:0%;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--laranja-texto)
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--laranja-texto)
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    background: linear-gradient(to bottom, rgb(101, 1, 129), rgb(72, 1, 92), rgb(56, 0, 68));
    color: rgb(220, 230, 31);
    display: block;
    text-align: center;
    border-radius: 20px;
    width: 90%;
    padding: 5%;
}

div {
    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

main {

    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;
    border-radius: 20px;
}
 /*nav {

    size: 24px;
      




 }*/

 :root{

      --branco-para-o-texto-basico: cornsilk;
      --laranja-texto:rgb(240, 127, 70);
 }

 img{

    width: 100%;




 }

 .separador{

    margin-top: 10%;


 }

 .botoes {
     
            /* cima , direita ,baixo , esquerda */   
    padding: 0px,20px,8px,20px;
    display: flex;
    justify-content: flex-end; /* joga para a direita */
    gap: 10px;
    color: cornsilk;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    transition: 0.4 ease;
    background-color:rgb(101, 1, 129)
;
    
}

button:hover{

     color: rgb(8, 0, 255);






}

aside{
    
    background-color: rgb(44, 1, 56);
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;
    border-radius: 20px;

}

.grid{


width: 2px;
display: grid;
grid-template-columns: auto;
margin: auto;
grid-gap: 3px;

    



}
